@use "vars" as v;

header {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 5%;

    .video-container,
    .headshot-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        border-radius: 0 0 v.$card-radius v.$card-radius;

        video, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(70deg, rgba(0,0,0,0.6) 30%, transparent 100%);
        }
    }

    .video-container { display: none; }
    @media screen and (min-width: 680px) {
        .video-container { display: block; }
        .headshot-container { display: none; }
    }

    h1 {
        color: #fff;
        font-size: clamp(3rem, 15vw, 8rem);
        font-weight: 900;
    }

    p {
        color: #fff;
        font-size: 1.2rem;
        margin-top: 20px;

        > span {
            display: block;

            @media screen and (min-width: 680px) {
                display: inline;
            }

            span { 
                color: v.$primary; 
                font-weight: 700;
            }
        }
    }
}